<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBL.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Tfs\MvcVsWebForms\DBL\Database\DatabaseDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBL.Properties.Settings.D__TFS_MVCVSWEBFORMS_DATABASE_DATABASE1_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=D:\Tfs\MvcVsWebForms\DBL\Database\DATABASEDB.MDF;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DBL.Properties.Settings.DatabaseBLConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Tfs\MvcVsWebForms\DBL\Database\DatabaseBL.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>